body{
    background-color: #f1f1f1;
}

header{
    text-align: center;
}

.italic{
    font-weight: oblique;
}

article{
    padding: 25px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

